@font-face {
    font-family: 'digitalFont';
    src: url("/font/DS-DIGIB.TTF");
}
@font-face {
    font-family: 'buttonFont';
    src: url("/font/planet-gamers-demo.otf");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header{
    font-family: 'digitalFont', sans-serif;
    font-size: 25px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.calcFrame{
    background-color: blue;
    min-width: 400px;//400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 1px purple;
    .display{
        height: 120px;//100px
        width: 90%;
        background-color: darkolivegreen;
        margin: 15px;
        border-radius: 20px;
        font-family: 'digitalFont', sans-serif;
        box-shadow: -3px -3px 3px #333;
        .wholeFunction{
            margin: 5px;
            height: 50px;//50px
            width: 100%;
            font-size: 35px;
            font-weight: bold;
        }
        .current{
            margin: 10px;
            height: 50px;
            font-size: 50px;
            font-weight: bold;
            float: right;
        }
    }
    .buttonFrame{
        height: 380px;
        width: 380px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        background-color: blue;
        gap: 10px;
        div{
            font-size: 30px;
            font-family: 'buttonFont', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aqua;
            border-radius: 95px;
            cursor: pointer;
            box-shadow: 2px 2px 2px #777;
        }
        .number, .op, .clear{
            &:hover{
                background-color: indigo;
                transform: translateY(-3px);
                scale: 1.02;
            }
            &:active{
                background-color: darkcyan;
                transform: translateY(3px);
                scale: 1;
            }
        }
        .op{
            &:hover{
                background-color: green;
            }
        }
        .clear{
            &:hover{
                background-color: red;
            }
        }
    }
}