body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calcFrame{
    background-color: blue;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .display{
        height: 100px;//100px
        width: 90%;
        background-color: darkolivegreen;
        margin: 15px;
        .wholeFunction{
            background-color: purple;
            height: 50px;//50px
            width: 100%;
            font-size: 35px;
            font-family: sans-serif;
            font-weight: bold;
        }
        .current{
            height: 50px;
            font-size: 50px;
            font-family: sans-serif;
            font-weight: bold;
            float: right;
        }
    }
    .buttonFrame{
        height: 380px;
        width: 380px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: blue;
        gap: 10px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aqua;
            border-radius: 5px;
            cursor: pointer;

        }
    }
}